.Tip {
    width: calc(100% - 20px);
    background-color: color-mix(in srgb, var(--warning-color) 30%, #ffffff00 60%);
    border-color: var(--warning-text);
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    color: var(--warning-text);
    padding: 10px;
    gap: 10px;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    color: var(--warning-text);
}
