.storagePanelContainer {
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 100%;
}
.extensionList {
    background-color: var(--frontground-color);
    width: 50%;
}

.extensionItem {
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.extensionName{
    color: var(--text-color);
    font-size: larger;
    font-weight: bolder;
}

.extensionTimestamp{
    color: var(--text-color);
    font-size: smaller;
}