.extension-editor-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #1e1e1e;
}

.extension-editor-wrapper {
  flex: 1;
  overflow: hidden;
}

.extension-editor-wrapper .monaco-editor {
  height: 100% !important;
}