:root {
    --background-color: #111;
    --background-color-transparent: #111111aa;
    --frontground-color: #222;
    --background-button-color: #333;
    --modal-background: #2a2a2a;
    --modal-border: #3a3a3a;
    --modal-title: #3c3c3c;
    --modal-close: #4c4c4c;
    --text-color: #eee;
    --accent-color: #0099ff;
    --accent-color-transparent: #0099ff50;

    --modal-background-index: 100;
    --modal-window-index: 110;
}

::-webkit-scrollbar {
    background-color: var(--frontground-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--background-button-color);
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--modal-title);
}

input{
    background-color: var(--modal-close);
    color: var(--text-color);
    outline: var(--background-color-transparent);
    border: none;
    height: 30px;
    border-radius: 3px;
    padding-left: 5px;
}